[submodule "java-spring-boot-1"]
	path = java-spring-boot-1
	url = git@github.com:stackhawk/ast-java-spring-boot-1.git
[submodule "java-spring-boot-2"]
	path = java-spring-boot-2
	url = git@github.com:stackhawk/ast-java-spring-boot-2.git
